/* ============================================================================
** HTML Defaults
==============================================================================*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

/* ============================================================================
** Global Classes
==============================================================================*/
.block-section {
  min-height: 400px;
}

/* ============================================================================
** Header Styles
==============================================================================*/
/* ============================================================================
** footer Styles
==============================================================================*/
/* ============================================================================
** Buttons Styles
==============================================================================*/